@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body, html{
    background-color: #C8FFD4;
    display: flex;
    margin: auto;
    justify-content: center;
    height: 100%;
    place-items: center;
}

h4{
    font-size: 1.37rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}

.cont{
    width: 600px;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

form input{
    margin: 10px 0;
    outline: none;
    border: 1px solid #666fee;


}

form .mssgbox{
    width: 500px;
    height: 40px;
    font-size: 1.2rem;
    padding: 0 10px;
}

form .btn{
    font-size: 1rem;
    padding: 6px 18px;
    background-color: #666fee;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

form .btn:hover{
    transform: scale(1.002);
    box-shadow: 6px 6px 25px rgba(0,0,0,0.2);
}

h5{
    background-color: #Ffd4cd;
    color: rgba(0, 0, 0, 0.877);
    font-size: 1.1rem;
    width: 100%;
    padding: 10px 0;
}

.feedback{
    display: none;
}
.feedback2{
    display: none;
}

.show{
    display: block;
}

.mssgcontent{
    color: #f74242;
}